<div class="container">
 	<div class="row">
		<section class="main-section">
			<div class="breadcrumbs">
				<a href="index.html">Admin</a>/<a>Home</a>                        
			</div>
			<div class="tagline">
                <h3 class="regular-size left">Administration</h3>
                <h6 class="subheader">Administration du gill-parser</h6>
			</div>
		  		
		  	      	    
		<div class="row">
				<!-- BEGIN Page Content -->
		  <div class="content">
			  <div class="span12">
			  	<%= render 'admin/menu' %>
			  	<br />
			  	<div class="accordion-group">
			  		<div class="accordion-heading">
			  		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseone">
			  		     Ajouter un championat <i class="right icon-chevron-down"></i>
			  		  </a>
			  		</div>
			  		<div id="collapseone" class="accordion-body collapse">
			  		  <div class="accordion-inner">
			  		  	<%= render "admin/form-championat" %>
			  		  </div>
			  		</div>
			  	</div>
			  	<br />
			  	<table class="table table-bordered" style="float: left" >
				  <thead>
				    <tr>
				      <th>Id</th>
				      <th>Nom</th>
				      <th>Ajouté le</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <% @ch.each do |t| %>
				    <tr>
				      <td><%= t['id'] %></td>
				      <td><%= t['name'] %></td>
				      <td><%= t['created_at'] %></td>
				      <td>
				      	<center>
				      	<%= link_to image_tag('edit.png'), {:controller => "admin", :action => "deletechampionat", :chpId => t['id'] }, :class => '' %>
				      	<%= link_to image_tag('bin.png'), {:controller => "admin", :action => "deletechampionat", :chpId => t['id'] }, :class => '' %>
				      	</center>
				      </td>
				    </tr>
				    <% end %>
				  </tbody>
				</table>
				<div id="form" style="display: none; float: left; width: 25%" >
					<form action="" method="post">
						<input type="text">
						<input type="submit">
					</form>
					
				</div>
				<div style="clear:both"></div>
			  </div>
		  </div>
		</div>
	</section>
	</div>
</div>

<script>
$(".table").click(function(){
      $(".table").animate({ 
        width: "70%"
      }, 1500 );
      $("#form").show('slide');
    });
</script>