<div class="row">
	<section class="slider-section">
		<div class="slider_container" style="margin:0px">
			<div class="homeslider flexslider">
				  <ul class="slides">
				    <li>
				      <%= image_tag 'bg_rails_red.jpg' %>
				      <div id="slide1" class="slide_caption">
				      	 <h4 class="slide_title" data-effect="top-in">Ruby on Rails</h4>
				      	  
				      	  <p class="slide_content" data-effect="left-in">Le 01 juillet 2004</p>
				      	</div>
				    </li>
				    <li>
				      <%= image_tag 'bg_html5.jpg' %>
				      <div id="slide1" class="slide_caption">
				      	 <h4 class="slide_title" data-effect="top-in">HTML5</h4>
				      	  
				      	  <p class="slide_content" data-effect="left-in">Le 23 avril 2009</p>
				      	</div>
				    </li>
				    <li>
				      <%= image_tag 'bg_rails_blue.jpg' %>
				      <div id="slide1" class="slide_caption">
				      	 <h4 class="slide_title" data-effect="top-in">Ruby on Rails</h4>
				      	  
				      	  <p class="slide_content" data-effect="left-in">Ruby on Rails, également appelé RoR ou Rails est un framework web libre écrit en Ruby</p>
				      	</div>
				    </li>
				    <li>
				      <%= image_tag 'bg_heroku.jpg' %>
				      <div id="slide1" class="slide_caption">
				      	 <h4 class="slide_title" data-effect="top-in">Heroku</h4>
				      	  
				      	  <p class="slide_content" data-effect="left-in">Service de cloud computing de type Plate-forme en tant que service créé en 2007</p>
				      	</div>
				    </li>
				  </ul>
			</div>
		</div>
	</section>
	<section class="main-section">
		<div class="tagline" style="margin:0 0 30px 0">
            <h3 class="regular-size">Bienvenu sur les cours de Ruby et Ruby on Rails de Ingesup</h3>
            <h6 class="subheader">Cours effectuer de novembre 2012 à Février 2013</h6>
		</div>
		<div class="row">
				<!-- BEGIN Latest Projects -->
			<div class="projectsarea span8">
			 	
			 	<h3 class="title"><span>Projet vu en cours</span></h3>
			 	
			 	<div id="project_carousel2" class="flexslider">
			 	  <ul class="slides">
			 	    <li>
			 	      <div class="projectitem">
			 	      	<div class="project_thumb">
			 	      	  <a href="#modal1"  data-toggle="modal" class="hover_fade_in"><%= image_tag 'bg_project1.jpg' %></a>
			 	      	</div>
			 	      	<h4 class="project_title"> Test Movie
			 	      	<small class="categories"><a href="">coding</a> / <a href="">programming</a></small>
			 	      	</h4>
			 	      	</div>
			 	    </li>
			 	   <li>
			 	     <div class="projectitem">
			 	     	<div class="project_thumb">
			 	     	  <a href="#modal2"  data-toggle="modal" class="hover_left_in"><%= image_tag 'bg_project2.jpg' %></a>
			 	     	</div>
			 	     	<h4 class="project_title"> HTML REST verbe
			 	     		<small class="categories"><a href="">coding</a> / <a href="">programming</a></small>
			 	     	</h4>
			 	     </div>
			 	   </li> 
			 	    <li>
			 	      <div class="projectitem">
			 	      	<div class="project_thumb">
			 	      	  <a href="#modal3"  data-toggle="modal" class="hover_fade_in"><%= image_tag 'bg_project3.jpg' %></a>
			 	      	</div>
			 	      	<h4 class="project_title">Le webservice
			 	      	<small class="categories"> <a href="blog.html">coding</a> / <a href="blog.html">programming</a></small></h4>
			 	      	</div>
			 	    </li>
			 	  </ul>
			 	</div>
			 	
			</div> 
			<!-- END PROJECTS AREA -->
		
			<div class="span4">
			<!-- BEGIN TESTIMONIALS -->
			 <div class="testimonials">
					<h3 class="title"><span>Testimonials</span></h3>
					<div id="testimonials_carousel" class="flexslider">
					  <ul class="slides">
					    <li>
					    	<div class="testimonial_item clearfix">
					    	  <p>This is some testimonial about your company, some good perspective which impacts your visitors and potential customers. Testimonials are a great way to instill confidence in your confidence and increase your conversions. Conversion are sales per 100 visitors visiting your site. So, conversion rates means sales.</p>
					    	  <div class="author"><span class="color">Ryan</span><small>, Awesome Viber</small></div>
					    	</div>
					    </li>
					    <li>
					    	<div class="testimonial_item clearfix">
					    	  <p>This is Second testimonial about your company, some good perspective which impacts your visitors and potential customers. Testimonials are a great way to instill confidence in your confidence and increase your conversions.Conversion are sales per 100 visitors visiting your site. So, conversion rates means sales.</p>
					    	  <div class="author"><span class="color">Shahid</span><small>,Awesome Viber</small></div>
					    	</div>
					    </li>
					  </ul>
					 </div>   
				</div>
				<!-- END TESTIMONIALS -->
			</div>
		</div>
	</section>
</div>