<div class="row">
	<section class="main-section">
		<div class="breadcrumbs">
			<a href="/parser">Parser</a>/<a>Détail</a>                        
		</div>
		<div class="tagline">
            <h3 class="regular-size"><%= @search.name %></h3>
            <h6>Derniére mise à jour des resultats effectué le <%= @last_update %></h6>
		</div>
		<div class="row">
				<!-- BEGIN Page Content -->
		  <div class="content">		
				<h2 class="page_title">Classement/Resultat</h2>
				<div class="span12">
					<h3>Classement</h3>
					<div class="btn-toolbar">
		             <div class="btn-group">
		               <button class="btn btn-large btn-success">Mettre à jour</button>
		               <button class="btn btn-large dropdown-toggle btn-success" data-toggle="dropdown"><span class="caret"></span></button>
		               <ul class="dropdown-menu">
		                 <li><%= link_to "Classement", {:controller => "parser", :action => "classement", :catId => @search.id } %></li>
		                 <li><a href="#">Les resultats</a></li>
		                 <li class="divider"></li>
		                 <li><a href="#">Tout</a></li>
		               </ul>
		             </div><!-- /btn-group -->
		           </div><!-- /btn-toolbar -->
					
		            
					<div class="tabs">
						<ul class="nav nav-tabs" id="widget-tabs">
							<li class="active"><a href="#classement">Classement</a></li>
							<li><a href="#journee">Journee</a></li>
						</ul>
						
						<div class="tab-content">
							<div class="tab-pane active" id="classement">
								<table class="table table-bordered">
								  <thead>
								    <tr>
								      <th>Rang</th>
								      <th>Équipe</th>
								      <th>Points</th>
								      <th>Gagné</th>
								      <th>Nuls</th>
								      <th>But+</th>
								      <th>But-</th>
								      <th>Diff</th>
								    </tr>
								  </thead>
								  <tbody>
								    <% @tab.each do |t| %>
								    <tr>
								      <td><%= t['rang'] %></td>
								      <td><%= t['team'] %></td>
								      <td><%= t['points'] %></td>
								      <td><%= t['gagne'] %></td>
								      <td><%= t['nuls'] %></td>
								      <td><%= t['butplus'] %></td>
								      <td><%= t['butmoins'] %></td>
								      <td><%= t['diff'] %></td>
								    </tr>
								    <% end %>
								  </tbody>
								</table>
							</div>
							<div class="tab-pane" id="journee">
								<img src="img/tree.png" class="left" alt="tree" /><p>Twitter BootStrap gives many features including Modals, Popups, Tooltips, Alerts...etc. Since VibeLander is built on Twitter Bootstrap it also supports all the features supported by Bootstrap...</p>
							</div>
						</div>
					</div>
					<br />
		        </div>
			</div>
		</div>
	</section>
	
</div>
