<div class="row">
	<section class="main-section">
		<div class="breadcrumbs">
			<a href="/parser">Parser</a>/<a>Détail</a>                        
		</div>
		<div class="tagline">
            <h3 class="regular-size"><%= @search.name %></h3>
            <h6>Derniére mise à jour des resultats effectué le <%= @last_update %></h6>
		</div>
		<div class="row">
				<!-- BEGIN Page Content -->
		  <div class="content">		
				<h2 class="page_title">Classement/Resultats</h2>
				<div class="span12">
					<div class="btn-toolbar">
		             <div class="btn-group">
		               <button class="btn btn-large btn-success">Mettre à jour</button>
		               <button class="btn btn-large dropdown-toggle btn-success" data-toggle="dropdown"><span class="caret"></span></button>
		               <ul class="dropdown-menu">
		                 <li><%= link_to "Classement", {:controller => "parser", :action => "classement", :catId => @search.id } %></li>
		                 <li><%= link_to "Journée", {:controller => "parser", :action => "journee", :catId => @search.id } %></li></li>
		                 <li class="divider"></li>
		                 <li><a href="#">Tout</a></li>
		               </ul>
		             </div><!-- /btn-group -->
		           </div><!-- /btn-toolbar -->
					
		            
					<div class="tabs">
						<ul class="nav nav-tabs" id="widget-tabs">
							<li class="active"><a href="#classement">Classement</a></li>
							<li><a href="#journee">Journée</a></li>
						</ul>
						
						<div class="tab-content">
							<div class="tab-pane active" id="classement">
								<table class="table table-bordered">
								  <thead>
								    <tr>
								      <th>Rang</th>
								      <th>Équipe</th>
								      <th>Points</th>
								      <th>Gagné</th>
								      <th>Nuls</th>
								      <th>But +</th>
								      <th>But -</th>
								      <th>Diff</th>
								    </tr>
								  </thead>
								  <tbody>
								    <% @tab.each do |t| %>
								    <tr>
								      <td><%= t['rang'] %></td>
								      <td><%= t['team'] %></td>
								      <td><%= t['points'] %></td>
								      <td><%= t['gagne'] %></td>
								      <td><%= t['nuls'] %></td>
								      <td><%= t['butplus'] %></td>
								      <td><%= t['butmoins'] %></td>
								      <td><%= t['diff'] %></td>
								    </tr>
								    <% end %>
								  </tbody>
								</table>
							</div>
							<div class="tab-pane" id="journee">
					            <% @j.each do |j| %>
								<div class="accordion-group">
									<div class="accordion-heading">
									  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#samere<%= j['id'] %>">
									     <%= j['title'] %> <i class="right icon-chevron-down"></i>
									  </a>
									</div>
									<div id="samere<%= j['id'] %>" class="accordion-body collapse">
									  <div class="accordion-inner">
									  	<% journee = Journee.find(j['id']) %>
									  	<% content = journee.contents %>
									  	<% content.each do |c| %>
									  	<table class="table table-bordered">
									  		<tr>
									  	        <td class="date" style="width:20%">
									  	        	<%= c['date'] %>
									  	        </td>
									  	        <td class="eq" style="width:60%">
									  	            <p  class="win">
									  	            	<strong>
									  	            		<strong><%= c['team1core'] %></strong>
									  	            	</strong> 
									  	            	<%= c['team1'] %>
									  	            </p>
									  	            <p >
									  	            	<strong>
									  	            		<strong><%= c['team2score'] %></strong>
									  	            	</strong> 
									  	            	<%= c['team2'] %>
									  	            </p>
									  	        </td>
									  	        <td class="fdm" style="width:20%"> 
									  	        	<center>
									  	        	<button class="btn">
									  	        		<a href="<%= c['fdm'] %>"  target="_blank" title="Feuille de match">FDM</a>
									  	        	</button>
									  	        	</center>
									  	        </td>
									  		</tr>
									  	</table>
									  	<% end %>
									  </div>
									</div>
								</div>
								<% end %>
							</div>
						</div>
					</div>
					<br />
		        </div>
			</div>
		</div>
	</section>
	
</div>
