<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bg-effect">
	<header>
		<div class="container">
			<div class="row">
					<div class="span6">
						<div class="logoarea">
							<a href="index.html">
								<%= image_tag 'logo_rails.png' %>
							</a>
						</div>
					</div>
					<div class="span6 right">
						<div class="contactarea">
							<ul>
							   <li><a href="http://facebook.com" title="Facebook" class="facebook"></a></li>
							   <li><a href="http://TWITTER.com" title="TWITTER" class="twitter"></a></li>
							   <li><a href="http://PINTEREST.com" title="PINTEREST" class="pinterest"></a></li>
							   <li><a href="http://GOOGLE.com" title="GOOGLE" class="gplus"></a></li>
							   <li><a href="http://WWW.VIBETHEMES.COM/RSS" title="RSS" class="rss"></a></li>
							</ul>
						</div>
					</div>
			</div>
		<div class="row">	
		
		 <nav>
			<div id="top-menu">
		      <ul class="nav">
		             <li class="menu-item">
		                 <a href="index.html"><i class="icon-white icon-home"></i></a>  		                 
		             </li>
		             <li class="menu-item">
		                 <a href="">Cours</a>
		                 <ul class="mega-drop threecolumns">
		                 	<li>
		                 		<ul class="mega-sub">
		                 			<li>
		                 		    	<a href="index1.html">Home Template 1 <small>Corporate Version 1</small></a>
			                 		</li>
			                 		<li>
			                 		    <a href="index2.html">Home Template 2 <small>Corporate Version 2</small></a>
		    	             		</li>
		        	         		<li>
		            	     		    <a href="index3.html">Home Template 3 <small>Corporate Version 3</small></a>
		                	 		</li>
		                 		</ul>
		                 	 </li>
		                 	 <li>
		                 	 	<ul class="mega-sub left">
		                 	 		<li>
		                 	 	    	<a href="index4.html">Exclusive VibeCom Slider<small>Enhanced FlexSlider Captions</small></a>
		                 	 		</li>
		                 	 		<li class="menu-item">
		                 	 		    <a href="index5.html">Slider with Captions <small>FlexSlider Version 1</small></a>
		                 	 		</li>
		                 	 		<li class="menu-item">
		                 	 		    <a href="index6.html">StepSlider with Captions<small>FlexSlider Version 2</small></a>
		                 	 		</li>
		                 	 	</ul>
		                 	  </li>
		                 	  <li class="left">
		                 	  	<ul class="mega-sub max-width">
		                 	  		<li>
		                 	  	    	<a href="index7.html">VibeCom StepSlider<small>FlexSlider with VibeCom Captions</small></a>
		                 	  		</li>
		                 	  		<li>
		                 	  			<a href="index8.html">Thumbnail Slider<small>FlexSlider Version 3</small></a>
		                 	  		</li>
		                 	  	</ul>
		                 	   </li>
		                 	</ul>
		                </li> 
		                <li class="menu-item">
		                    <a href="page.html">TP</a>
		                    <ul class="mega-drop twocolumns">
		                    	<li>
		                    		<ul class="mega-sub">
		                    			<li>
		                    				<a href="page.html">Full Width Template <small>Layout Options</small></a>
		                    			</li>
		                    			<li>
		                    		    	<a href="page1.html">AboutUs Page Template 1<small>Page with Sidebar </small></a>
		                        		</li>
		                        		<li>
		                        		    <a href="team.html">About Team Template 2<small>Fullwidth Template </small></a>
		                        		</li>
		                        		<li>
		                        		    <a href="archive.html">Archive Template <small>Template with Sidebar</small></a>
		                        		</li>
		                    		</ul>
		                    	 </li>
		                    	 <li>
		                    	 	  <ul class="mega-sub left">
		                    	 	  	<li>
		                    	 	  	    <a href="pricing.html">Pricing Template <small>Fullwidth Template </small></a>
		                    	 	  		</li>
		                    	 	  		<li>
		                    	 	  		    <a href="comingsoon.html">Coming Soon Template <small>Countdown &amp; Signup form</small></a>
		                    	 	  			</li>
		                    	 	  		<li>
		                    	 	  		    <a href="404.html">404 Page Template <small>Fullwidth with search form</small></a>
		                    	 	  		</li>
		                    	 	  		<li>
		                    	 	  			<a href="features.html">Template Features <small>all shortcodes &amp; features</small></a>
		                    	 	  		</li>
		                    	 	  			
		                    	 	  </ul>
		                    	 </li>
		                   </ul>
		             </li>	  	
					 <li class="menu-item">
					     <a href="portfolio.html">Projet</a>
					     <ul class="mega-drop threecolumns">
					     	<li>
					     		<ul class="mega-sub">
					     			<li>
					     		    	<a href="portfolio.html">Portfolio Template 1 <small> 4 Columns &amp; Carousel</small></a>
					         		</li>
					         		<li>
					         		    <a href="portfolio1.html">Portfolio Template 2 <small>3 Columns &amp; Carousel </small></a>
					         		</li>
					         		<li>
					         		    <a href="portfolio2.html">Portfolio Template 3 <small>4 &amp; 3 Columns Carousel</small></a>
					     	 		</li>
					     		</ul>
					     	 </li>
					     	 <li>
					     	 	<ul class="mega-sub left">
					     	 		<li>
					     	 	    	<a href="portfolio3.html">Portfolio Template 4 <small>Filterable &amp; 4 Columns</small></a>
					     	 		</li>
					     	 		<li class="menu-item">
					     	 		    <a href="portfolio4.html">Portfolio Template 5 <small>Filterable &amp; 3 Columns</small></a>
					     	 		</li>
					     	 	</ul>
					     	  </li>
					     	  <li>
					     	  	<ul class="mega-sub left">
					     	  		<li class="menu-item">
					     	  		    <a href="single1.html">Single Template 1 <small>Single Portfolio Version 1</small></a>
					     	  		</li>
					     	  		<li class="menu-item">
					     	  		    <a href="single2.html">Single Template 2 <small>Single Portfolio Version 2</small></a>
					     	  		</li>
					     	  		<li class="menu-item">
					     	  		    <a href="single3.html">Single Template 3 <small>Single Portfolio Version 3</small></a>
					     	  		</li>
					     	  	</ul>
					     	   </li>
					     	</ul>
					    </li> 	 
		                 
		                <li class="menu-item">
		                    <a href="blog.html">Blog</a>
		                    <ul class="mega-drop onecolumns">
		                    	<li>
		                    		<ul class="mega-sub">
		                    			<li>
		                    		    	<a href="blog.html">Blog/Category Template 1 <small>big featured &amp; sidebar</small></a>
		                        		</li>
		                        		<li>
		                        		    <a href="blog1.html">Blog/Category Template 2 <small>small featured &amp; sidebar</small></a>
		                        		</li>
		                        		<li>
		                        			<a href="single.html">Single Post Template <small>single Template with sidebar</small></a>
		                        		</li>
		                    		</ul>
		                    	 </li>
		                    	</ul>
		                   </li>    	
		             <li class="menu-item">
		                 <a href="contact.html">Contact</a>
		             </li>
		      </ul>	 
		    </div> 	
		   </nav> <!-- end #top-menu -->
		   <div class="topnav">
			   	<a class="show_nav span1">Main Menu <i class=" icon-white icon-plus"></i></a>
			   <ul class="collapsed_accordion">	
			   		<li><a href="index.html"  class="span1">Home</a></li>  		   
			       <li><a href="index.html" class="span1">Home Templates</a>
			       		<ul>
			       		<li><a href="index1.html"  class="span1">Template 1</a></li>
			       		<li><a href="index2.html"  class="span1">Template 2</a></li>
			       		<li><a href="index3.html" class="span1">Template 3</a></li>
			       		<li><a href="index4.html" class="span1">Template 4</a></li>
			       		<li><a href="index5.html" class="span1">Template 5</a></li>
			       		<li><a href="index6.html" class="span1">Template 6</a></li>
			       		<li><a href="index7.html" class="span1">Template 7</a></li>
			       		<li><a href="index8.html" class="span1">Template 8</a></li>
			       		</ul>
			       </li>
			       <li><a href="page.html" class="span1">About Us</a>
			       		<ul>
			       		<li><a href="page.html" class="span1">FullWidth Page</a></li>
			       		<li><a href="page1.html" class="span1">Sidebar Page</a></li>
			       		<li><a href="team.html" class="span1">Team Page</a></li>
			       		<li><a href="archive.html" class="span1">Archive</a></li>
			       		<li><a href="pricing.html" class="span1">Pricing</a></li>
			       		<li><a href="comingsoon.html" class="span1">Coming Soon</a></li>
			       		<li><a href="404.html" class="span1">404 Template</a></li>
			       		<li><a href="features.html" class="span1">Features</a></li>
			       		</ul>
			       	</li>
			   <li><a href="portfolio.html" class="span1">Portfolio</a>
			       <ul>
			       <li><a href="portfolio.html" class="span1">Template1</a></li>
			       <li><a href="portfolio1.html" class="span1">Template2</a></li>
			       <li><a href="portfolio2.html" class="span1">Template3</a></li>
			       <li><a href="portfolio3.html" class="span1">Template4</a></li>
			       <li><a href="portfolio4.html" class="span1">Template5</a></li>
			       <li><a href="single1.html" class="span1">Single1</a></li>
			       <li><a href="single2.html" class="span1">single2</a></li>
			       <li><a href="single3.html" class="span1">single3</a></li>
			       </ul>
			   </li>
			   <li><a href="blog.html" class="span1">Blog</a>
			       <ul>
			       <li><a href="blog.html" class="span1">Template 1</a></li>
			       <li><a href="blog1.html" class="span1">Template 2</a></li>
			       <li><a href="single.html" class="span1">Single Template</a></li>
			       </ul>
			   </li>
			   <li><a href="contact.html" class="span1">Contact</a></li>
			   </ul>	  		   		   		
		   </div>
		   </div>
		 </div><!-- end header container --> 
	</header>

	<div class="container">
		<%= yield %>
	</div>
	
	<footer id="main_footer" class="clearfix">
	 	<div class="container">
	 		<div class="row">
	 					<section class="clearfix">
	 					 <div class="widget">
	 					 <h2>Cours</h2>
	 					 <p>As a best practice, try to match the element for your context to ensure matching cross-browser rendering. If you have an input, use an input type for your button.</p>
	 					 </div>
	 					 
	 					 <div class="widget">
	 					 <h2>Travaux Pratique</h2>
	 					 <ul>
	 					 <li><a href="single.html">Stock index futures edge higher</a></li>
	 					 <li><a href="single2.html">Dish Network settles lawsuit</a></li>
	 					 <li><a href="single3.html">Ancestry.com agrees to $1.6 b</a></li>
	 					 <li><a href="single3.html">Philips CEO on sales boost</a></li>
	 					 <li><a href="single3.html">Siemens in to sell solar bizz</a></li>
	 					 <li><a href="single3.html">Most companies won't be early adopters of Windows 8</a></li>
	 					 </ul>
	 					 </div>
	 					 
	 					 <div class="widget">
	 					 <h2>Projet</h2>
	 					 <ul>
	 					 <li><a href="blog.html">Big data energy startup</a></li>
	 					 <li><a href="blog.html">Analytics, and machine learning </a></li>
	 					 <li><a href="blog.html">Oracle, HP, IBM, Microsoft</a></li>
	 					 <li><a href="blog.html">Google Panda and Penguin</a></li>
	 					 <li><a href="blog.html">Landing page analysis</a></li>
	 					 <li><a href="blog.html">The Conversion rate Myth</a></li>
	 					 </ul>
	 					 </div>
	 					 <div class="widget">
	 					 <h2>Blog</h2>
	 					 <ul>
	 					 <li><a href="blog.html">Posting to Twitter</a></li>
	 					 <li><a href="blog.html">Dance-related content </a></li>
	 					 <li><a href="blog.html">Cloud more sustainable</a></li>
	 					 <li><a href="blog.html"> Resilient cloud</a></li>
	 					 <li><a href="blog.html">Facebook Vice President Joanna Shields</a></li>
	 					 </ul>
	 					 </div>
	 					</section>
	 					<section class="footer_bottom">
	 						<p class="copyright span5">Template Design © <a href="http://loic.goaper.fr" title="VibeCom">Loïc Goaper</a>. All rights reserved.</p>
	 						<ul class="footer_menu">
	 							   <li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
	 							   <li><a href="http://facebook.com" title="Facebook" class="stwitter"></a></li>
	 							   <li><a href="http://facebook.com" title="Facebook" class="spinterest"></a></li>
	 							   <li><a href="http://facebook.com" title="Facebook" class="sgplus"></a></li>
	 							   <li><a href="http://facebook.com" title="Facebook" class="srss"></a></li>
	 							</ul>
	 					</section>
	 			</div> 
	 	</div><!-- end #container -->
	 </footer>
 </div>
 <div class="toparrow"><a href="#top" id="top_arrow"></a></div>
</body>
</html>
